.meal {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    transition: 0.3s;
    margin-bottom: 30px;
}

.meal:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.meal__img img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.meal__info {
    padding: 20px 10px;
}

.meal__info p {
    color: var(--secondary-color);
}

.meal__info button {
    border: none;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--fourth-color);
}